body, :root {
    font-size: 18px;
    font-family: 'Alegreya Sans', sans-serif;
}

.brand {
	color: #006F17 !important;
}

@media (min-width: 992px) {
    .nav-highlight, .nav-highlight a {
        background-color: #006f17 !important;
        color: #fff !important;
    }
}

#introjumbo {
    text-align: center;
    color: #006f17;
    background-image: url("../../images/background/bg.jpg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    min-height: 300px;
}

#introjumbo hr {
    border-color: #006f17;
    width: 30%;
}

.dark-sections {
    color: #006f17;
}

.content-container {
    font-size: 1.1em;
    padding-bottom: 2em;
}

.content {
    padding-top: 1.5em;
}

a {
    color: #A50014;
}

a:hover {
    color: #A50014;
    font-weight: bold;
}